body{
 background-color: hsl(217, 54%, 11%);
}

.rect
{
    width: 86%;
    height: 82%;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top :9%;
    left: 7%;
}
.img
{
    width : 85%;
    height : 51.4%;
    border-radius: 20px;
    position : absolute;
    top: 4.6%;
    left: 7.7%;
   
}
.img-set{
   width: 100%;
   height: 100%;
   border-radius: 20px;
   position: absolute;
   top : 0%;
   left : 0%;
}
.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   opacity: 0;
   transition: .3s ease;
   background-color: hsl(178, 100%, 50%);
 }
 
 .img:hover .overlay {
   opacity: 0.4;
 }
 .icon {
   color: white;
   font-size: 100px;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
 }
.text1
{
   color :hsl(0, 0%, 100%);
   position : absolute;
   top : 57%;
   left: 7.7%;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 600;
}
.text1:hover{
   color: hsl(178, 100%, 50%);
}
.text2
{
   color :hsl(215, 51%, 70%);
   position : absolute;
   top : 66%;
   left: 7.7%;
   line-height: 20px;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 300;
}
.img2
{
    position: absolute;
    top: 82%;
    left: 7.7%;
}
.text3
{
   color :hsl(178, 100%, 50%);
   position : absolute;
   top : 79.3%;
   left: 13%;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 600;
}
.img3
{
    position: absolute;
    top: 82%;
    right: 33%;

}
.text4
{
   color :hsl(215, 51%, 70%);
   position : absolute;
   top : 79.3%;
   right : 9%;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 400;
}
.line
{
    width : 85%;
    height: 0.3%;
    background-color: hsl(215, 32%, 27%);
    position: absolute;
    top: 87%;
    left: 7.7%;
}
.text5
{
   color :hsl(215, 51%, 70%);
   position : absolute;
   top : 89.5%;
   left: 20%;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 300;
}
.img4
{
   width: 9%;
   position: absolute;
   top: 90.7%;
   left: 5%;
   border: 2px solid white;
   border-radius: 50%;

}
.text6
{
   color : hsl(0, 0%, 100%);
   position : absolute;
   top : 89.5%;
   right: 24%;
   font-family: 'Outfit', sans-serif;
   size: 18px;
   font-weight: 400;
   
}
.text6:hover{
      color: hsl(178, 100%, 50%);
}
.attribution
{
    display: none;
    position: absolute;
    bottom: 0%;
}

@media only screen and (min-width: 1000px){
   .rect
{
    width: 22.8%;
    height: 65.6%;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top : 17%;
    left: 38%;
}
    
}